.welcome, .body{
    text-align: center;
}
.bluebtn{
    background-color: deepskyblue;
}
.pinkbtn{
    background-color: pink;
}
.greenbtn{
    background-color: greenyellow;
}
.tombtn{
    background-color: tomato;
}
.bluebtn:hover, .pinkbtn:hover, .tombtn:hover, .greenbtn:hover{
    color:aliceblue;
}
.schapes, .animaals, .numbahz{
    display: none;
    text-align: center;
}
.chellgne{
    text-align: center;
    display: none;
    background-color: azure;
    width: 100%;
    color: black;
    opacity: 0.9;
}
/*Shapes*/
.game-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.shapes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shape {
    width: 60px;
    height: 60px;
    cursor: grab;
}

.circle {
    background-color: red;
    border-radius: 50%;
}

.square {
    background-color: blue;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid green;
}

.drop-zones {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.drop-zone {
    width: 120px;
    height: 80px;
    border: 2px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    background-color: lightgray;
}
.nxtbtn{
    margin: 10em;
}
/*Animal*/
.adiv {
    display: inline-flex;
    background-color: black;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 1%;
    width: 486px;
    height: 359px;
    padding-bottom: 1%;
}
img{
    width: 100%;
    height: 100%;
}
.adiv:hover{
    border: 5px solid whitesmoke;
    background-color: whitesmoke;
}
/*nuumber*/