.welcome, .body{
    text-align: center;
}
.bluebtn{
    background-color: deepskyblue;
}
.pinkbtn{
    background-color: pink;
}
.greenbtn{
    background-color: greenyellow;
}
.tombtn{
    background-color: tomato;
}
.bluebtn:hover, .pinkbtn:hover, .tombtn:hover{
    color:aliceblue;
}
.greenbtn:hover{
    color: orange;
}
/*Shapes*/
.shapes{
    text-align: center;
    position: relative;
    display: none;
    margin: auto;
}
.circle {
    height: 50px;
    width: 50px;
    border: 5px solid white;
    border-radius: 50%;
    display: inline-block;
  }
.square {
    height: 50px;
    width: 50px;
    border: 5px solid white;
    display: inline-block;
}
.oval {
    height: 50px;
    width: 100px;
    border: 5px solid white;
    border-radius: 50%;
    display: inline-block;
}
.rectangle {
    height: 50px;
    width: 100px;
    border: 5px solid white;
    display: inline-block;
  }