body{
  background-color: black;
}
.App {
  text-align: center;
  background-color: black;
  color:white;
}

.App-header {
  background-color: #babeb0;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  height: 20vh;
}

.cartlogo {
  height: 5vh;
  position: absolute;
  margin-top: 1vh;
  margin-left: 90%;
  margin-right: 0%;
}

.counter {
  position: absolute;
  margin-top: 1vh;
  margin-left: 95%;
  margin-right: 0%;
  color:black;
}

.navheader {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}
a:visited, a:link{
  color: #babeb0;
  text-decoration: none;
  font-size: calc(10px + 2vmin);
  padding: 7vh;
}
a:hover{
  color: salmon;
}
.homepage{
  min-width: 1vh;
  background-color: black;
  height: 76vh;
  color: white;
}
.bg{
  height: 74vh;
}

.card{
  width: 300px;
  box-shadow: 2px 2px 5px gray;
  border-radius: 10px;
  padding: 2rem;
  margin-left: 5%;
  margin-right: 5%;
}
.cardimg{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  border: 3px;
  border-color: white;
}
.row{
  text-align: center;
  background-color: black;
  color:white;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.modalwindow{
  background-color: rgb(50, 50, 50, 0.6);
  position: absolute;
  inset: 0% 0% 0% 0%;
  display: none;
}