*{box-sizing:border-box;}/*preserve the 100% width of the screen*/
img{width: 100%; display: block;}
.header{
    background-color: aqua;
    display: flex;
}
.logo{
    width: 7%;
    padding: 1em;
    margin-left: 5%;
}
.title{
    width: 50%;
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
    color: coral;
    font-family: 'Franklin Gothic Medium';
}
.quicklinks{
    width: 20%;
    font-size: 1.5em;
    margin-left: auto;
}
.quicklinks a{
    display: inline-block;
    width: 40%;
    text-align: right;
    padding: 1.2em 0.2em;
    text-decoration: none;
}
.quicklinks a:hover{
    opacity: 0.6;
    transform: scale(1.05);
}

/*NAVLINKS*/
.navlinks  {
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}
.navlinks a{
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 1.2em;
    color: blue;
    text-decoration: none;
}
.navlinks a:hover{
    background-color: aquamarine;
}
/*MAIN - INTROIMAGE*/
.introimage{
    position: relative;
}
.intro{
    position: absolute;
    bottom: 10%;
    right: 15%;
    background-color: rgba(200, 200, 200, 0.6);
    padding: 1em 2em;
    border-radius: 12px;
}
intro h1{
    color: darkblue;
}
intro p{
    font-size: 1.2em;
}
/*CARDS*/
.subtitle{
    text-align: center;
}
.cardscontainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card, .verticalcard{
    height: auto;
    width: 350px;
    box-shadow: 1px 1px 5px gray;
    border-radius: 10px;
    overflow: hidden;
    margin: 1% 2%;
}
.card img{
    height: 200px;
}
.card p{
    padding: 1em;
}
.card a{
    display: block;
    background-color: blue;
    padding: 1em;
    color: whitesmoke;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
}
.card a:hover{
    opacity: 0.6;
    font-size: 1.1em;
}
.verticalcard{
    position: relative;
}
.verticalcard h3{
    position: absolute;
    bottom: 10%;
    left: 20%;
    right: 20%;
    text-align: center;
    color:aliceblue;
    font-size: 2em;

}
.verticalcard:hover{
    transform: translate(20px);
}

.footer{
    margin-top: 2em;
    text-align: center;
    background-color: blue;
    color:azure;
    padding: 3em;
}